* {
	padding:0;
	margin: 0;
}

html {
	height: 100%;
}

body {
 /*	background-color: #20C2E8; */
	background-image: url(' ../img/background.png');
	background-repeat: repeat;
	margin: 0;
	padding: 0;
}

#wrapper {
	margin: 0 auto;
	width:700px;
	min-height: 100%;
	height: auto!important;
	margin-bottom: -50px;
}

#content {
	background: transparent;
}

#logo {
	background-image: url(' ../img/logo.png');
	background-repeat: no-repeat;
	display: block;
	width:695px;
	height:530px;
	margin: 0 auto;
	margin-top: -13%;
}

#line {
	background-image: url('../img/line.png');
	background-repeat: no-repeat;
	display: block;
	width: 347px;
	height: 1px;
	margin: 0 auto;
}

#form {
	padding-top: 50px;
	width:348px;
	height: 350px;
	margin: 0 auto;
	display: block;
	
}



#feedb .feedback {
	background-color: #20C2E8;
	border: 1px solid #ffe9fc;
	width: 338px;
	height: 60px;
	border-radius: 3px;
	margin-bottom: 30px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	border-radius: 3px;
	padding-left:10px;
}

#feedb {

	margin-bottom: 30px;
	width: 348px;
	height:60px;
	display: block;
}

#feedb .feedback:focus { 
	border: 1px solid white;
	outline: none;
}

input.text {
	padding: 5px;
}

#feedb .submit {
	background-color: white;
	font-size:20px;
	color:#20C2E8;
	border: 1px solid;
	border-radius: 5px;
	width: 348px;
	height: 60px;
}

#feedb .submit:focus {
	outline: none;
	color:#20C2E8;
}
#feedb .submit:hover {
	outline:none;
	color:#20C2E8;
}

#content {
	position: relative;
}
footer {
	margin: 0 auto;
	padding:20px;
	overflow:hidden;
	min-height:55px;
	display:block;
	width: 350px;
}

.copyright {
	background:url(../img/c.png) no-repeat;
	height: 10px;
	width: 160px;
	float: left;
	margin-top: 10px;
}
#socialnetworks a{
	display: block;
	padding-left: 10px;
	padding-bottom:10px;
	float: right;
}

a.face{

	background:url(../img/facebook.png) no-repeat;
	width: 18px;
	height: 30px;

}
/*
a.face:hover{

	background:url(../img/facebook_on.png) no-repeat;
	width: 18px;
	height: 30px;

}

*/
/*
a.in:hover{

	background:url(../img/in_on.png) no-repeat;
	width: 18px;
	height: 30px;

}

*/
a.in{
	background:url(../img/in.png) no-repeat;
	height: 18px;
	width: 30px;
}

